<div class="top-header">
<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">Custom</a></li>
      <li><a href="/">Sedan</a></li>
      <li><a href="/">SUV</a></li>
      <li><a href="/">TRUCK</a></li>
    </ul>
  </nav>
  </div>