<main>
  <section class="hero">
    <img src="/images/site/checkerboard.jpg" alt="CSE Motors banner" class="hero-img">
    <div class="hero-overlay"></div>
<section class="mains">
  <h1>Welcome to CSE Motors</h1>
  <img src="/images/vehicles/delorean.jpg" alt="">
  <section class="intro">
    <h2>DMC Delorean 3 cup holders Superman doors Fuzzy dice!</h2>
    <img src="/images/site/own_today.png" alt="">
  </section>
  <div class="wrapper">
    <div class="first">
      <h3>DMC Delorian Reviews</h3>
      <ul>
        <li>"So fast it's almost like travelling time" (4/5)</li>
        <li>"Coolest ride on the road" (4/5)</li>
        <li>"I'm feeling McFly" (5/5)</li>
        <li>"The most futuristic ride of our day" (4.5/5)</li>
        <li>"80's livin and I love it" (5/5)</li>
      </ul>
    </div>
    <div class="second">
      <h3>Delorean Upgrades</h3>
      <div class="upgrades-grid">
        <div class="upgrade-item">
          <img src="/images/upgrades/flux-cap.png" alt="flux capacitor">
          <p>Flux Capacitor</p>
        </div>
        <div class="upgrade-item">
          <img src="/images/upgrades/flame.jpg" alt="flame">
          <p>Flame Decals</p>
        </div>
        <div class="upgrade-item">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
          <p>Bumper Sticker</p>
        </div>
        <div class="upgrade-item">
          <img src="/images/upgrades/hub-cap.jpg" alt="hub cap">
          <p>Hub Cap</p>
        </div>
      </div>
    </div>
  </div>
</section>
  </section>
</main>  